[submodule ".zsh/plugins/zsh-autoswitch-virtualenv"]
	path = .zsh/plugins/zsh-autoswitch-virtualenv
	url = https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv.git
[submodule ".zsh/plugins/zsh-history-substring-search"]
	path = .zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
